{% extends 'base.html' %}
{% block text %}


		<div class="row">
			<div class="col mt-0">
				<p class="lead">
                    signup
                </p>
                <code>
					{{ terminal }}
				</code>

                <div>
                    <strong>Menu:</strong>
                    <ul>
                        <li><a href="/accounts/login/">Sign In</a></li>
                        <li><a href="/accounts/signup/">Sign Up</a></li>
                    </ul>
                </div>



			</div>
		</div>


{% endblock %}