{% extends 'base.html' %}
{% block text %}


		<div class="row">
			<div class="col mt-0">
				<p>
                    Tuya Home Online переносит интерфейс управления Вашими умными устройствам из мобильного приложения в веб-интерфейс.
                </p>
				<p>
                    Привязка устройств и программирование сценариев происходит только через Ваше мобильное приложение. Для того, чтобы у tuyahome.online получил доступ к Вашим устройствам, необходимо в <a href="/user/profile/" class="text-decoration-none">профиле пользователя</a> указать реквизиты доступа к сервисам <a href="https://auth.tuya.com" class="text-decoration-none">tuya.iot</a>. Endpoint url - регион, который используется в Вашем мобильном приложении. Для генерации реквизитов: Access id, Access secret, UID понадобится мобильное приложение и инструкция ниже. </p>
                <p>
                    <h5>Как получить Access id, Access secret, UID?</h5>
                    <dl>
                        <dt>1. Войти в аккаунт tuya</dt>
                        <dd>
                            <a href="/static/img/faq01.png" target="_blank">
                                <figure class="figure">
                                    <img src="/static/img/faq01.png" class="figure-img img-fluid rounded" alt="..." style="max-width: 520px;">
                                    <figcaption class="figure-caption">
                                        <a>Зарегистрироваться и войти в аккаунт <a target="_blank" href="https://auth.tuya.com/" class="text-decoration-none">tuya.com</a>
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>

                        <dt>2. Создайте новый проект</dt>
                        <dd>
                            <a href="/static/img/faq03.png" target="_blank">
                                <figure class="figure">
                                    <img src="/static/img/faq03.png" class="figure-img img-fluid rounded" alt="..." style="max-width: 520px;">
                                    <figcaption class="figure-caption">
                                        <p class="mb-1">
                                            Перейти <strong>Cloud - Development</strong>
                                        </p>
                                        <p class="mb-1">
                                            Нажать <strong>Create Cloud Project</strong></figcaption>
                                        </p>
                                </figure>
                            </a>
                        </dd>
                        <dd>
                            <a href="/static/img/faq04.png" target="_blank">
                                <figure class="figure">
                                    <img src="/static/img/faq04.png" class="figure-img img-fluid rounded" alt="..." style="max-width: 520px;">
                                    <figcaption class="figure-caption">
                                        Заполнить описание нового проекта. <strong>Data Center</strong> - регион, с который был указан в мобильном приложении. Если не уверены, добавьте все регионы.
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>
                        <dd>
                            <a href="/static/img/faq05.png" target="_blank">
                                <figure class="figure">
                                    <img src="/static/img/faq05.png" class="figure-img img-fluid rounded" alt="..." style="max-width: 520px;">
                                    <figcaption class="figure-caption">
                                        Добавить все группы API-команд. Нажать <strong>All</strong>, нажать <strong>Authorize</strong>
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>

                        <dt>3. Подключить мобильное приложение</dt>
                        <dd>
                            <a href="/static/img/faq07.png" target="_blank">
                                <figure class="figure">
                                    <img src="/static/img/faq07.png" class="figure-img img-fluid rounded" alt="..." style="max-width: 520px;">
                                    <figcaption class="figure-caption">
                                        Открыть созданный проект, Перейти на вкладку <strong>Devices - Link Tuya App Account</strong>, Нажать <strong>Add App Account</strong>
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>
                        <dd>
                            <a href="/static/img/faq08.png" target="_blank">
                                <figure class="figure">
                                    <img src="/static/img/faq08.png" class="figure-img img-fluid rounded" alt="..." style="max-width: 520px;">
                                    <figcaption class="figure-caption">
                                        <p class="mb-1">
                                            В мобильном приложении нажать <strong>➕ - Scan QR-code</strong>, задать параметры доступа.
                                        </p>
                                        <p class="mb-1">
                                            Device Linking Method: <strong>Automatic Link</strong>
                                        </p>
                                        <p class="mb-1">
                                            Device Permition: <strong>Read, write and manage</strong>
                                        </p>
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>
                        <dd>
                            <a href="/static/img/faq09.png" target="_blank">
                                <figure class="figure">
                                    <img src="/static/img/faq09.png" class="figure-img img-fluid rounded" alt="..." style="max-width: 520px;">
                                    <figcaption class="figure-caption">
                                        Если вы все сделали правильно, получите сообщение об успешном добавлении устройств
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>

                        <dt>4. Скопировать реквизиты доступа</dt>
                        <dd>
                            <a href="/static/img/faq10.png" target="_blank">
                                <figure class="figure">
                                    <img src="/static/img/faq10.png" class="figure-img img-fluid rounded" alt="..." style="max-width: 520px;">
                                    <figcaption class="figure-caption">
                                        Открыть проект, перейти на вкладку <strong>Devices - Link Tuya App Account</strong> Скопировать <strong>UID</strong>.
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>
                        <dd>
                            <a href="/static/img/faq06.png" target="_blank">
                                <figure class="figure">
                                    <img src="/static/img/faq06.png" class="figure-img img-fluid rounded" alt="..." style="max-width: 520px;">
                                    <figcaption class="figure-caption">
                                        Открыть проект, перейти на вкладку <strong>Authorization - Cloud Authorization</strong> Скопировать <strong>Access ID, Access Secret</strong>.
                                    </figcaption>
                                </figure>
                            </a>
                        </dd>

                    </dl>
                </p>
                <p>
                    <h5>Как получить  Endpoint url?</h5> В этом поле необходимо выбрать регион из списка, который используется в Вашем мобильном приложении.
                </p>
                <p><br/></p>
			</div>
		</div>



{% endblock %}